<%- include('header')%>

<div class = "ui grid">
	<div class = "four wide column"></div>
	<div class = "eight wide column">
		<form class = "ui form segment" method = "post">
			<div class= "field required">
				<label>用戶名</label>
				<input placeholder="用戶名" type = "text" name="name">
			</div>
			<div class="field required">
				<label>密碼</label>
				<input placeholder="密碼" type = "password" name = "password">
			</div>
			<input type = "submit" class="ui button field" value= "登陸">

		</form>
	</div>
</div>

<%- include('footer')%>